@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'nunito';
 
}
.border-b-1{
  border-bottom-width: 1px;
}
.custom-shadow {
  box-shadow: 0px -4px 6px rgb(14 14 14 / 20%);

}
.zoom-effect {
  transition: transform 0.1s;
}

.zoom-effect:hover {
  transform: scale(1.05);
}
.btn-zoom-effect {
  transition: transform 0.5s;
}

.btn-zoom-effect:hover {
  transform: scale(1.1);
}


.hide {
  transform: translateY(0);
  transition: transform 0.5s;
  animation: fade-in 5s;
  
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .collection {
    display: none;
    
  }
}

